extends ../layouts/default

include ../mixins/commenting

block content
	.container
		a(href='/').text-muted &larr; Back to where you came from!
		article.full-node
			if !node
				h2 Invalid node.
			else
				header
					h1= node.title

				if node.image.exists
					.node-image.mv-3: img(src=node._.image.fit(720,420)).img-responsive.img-thumbnail
				<br>
				!=node.data.description.extended
				<br>

				//- Comment
				.comments
					//h4.mb-1=node.comments.length == 0 ? 'Be the first to reply': plural(node.comments.length, '* comment', '* comments')
					for comment in node.comments
						if comment.author
							.comment.media
								.pull-left
									img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
								.media-body
									h6.mt-0
										=comment.author.name.full
										//span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
									!=comment.content

				if user
								//- Reply form
								form(method='post').comment-form.mt-5
									input(type='hidden', name='action', value='create-comment')
									.media
										.pull-left
											img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
										.media-body
											textarea(placeholder='Add your comment...', name='content').form-control
											.pull-right
												<br />
												button(type='submit').btn.btn-success Submit
